# Write CSV File

In [1]:
import pandas as pd

In [2]:
dis={"A":[53,64,79,40,53],"B":[67,368,21,97,99],"C":[32,43,22,56,77]}
a=pd.DataFrame(dis)
a

    A    B   C
0  53   67  32
1  64  368  43
2  79   21  22
3  40   97  56
4  53   99  77

In [5]:
a.to_csv("Test_File_1.csv",index=False,header=["Marks1","Marks2","Marks3"])